<div class="mycard">
    <div class="title">
        <div>
            <h3>{{movie.Title}}</h3>
        </div>
        <div>
            <h3>({{movie.Year}})</h3>
        </div>
    </div>
    <div class="center">
        <img src={{movie.Poster}}>
        <div class="underTitle">
            <span>{{movie.Country}}</span>
            <span>{{movie.Runtime}}</span>
            <p>{{movie.Plot}}</p>
        </div>
    </div>
    <div class="footer">
        <div>
            <span class="title">genre</span><span>{{movie.Genre}}</span>
        </div>
        <div>
            <span class="title">production</span><span>{{movie.Production}}</span>
        </div>
    </div>
</div>