<div class="mycard">
  <div class="rating">
    <input type="radio" name="rating" value="5" id="5" (change)="handleChange(5)">
    <label for="5">☆</label>
    <input type="radio" name="rating" value="4" id="4" (change)="handleChange(4)">
    <label for="4">☆</label>
    <input type="radio" name="rating" value="3" id="3" (change)="handleChange(3)">
    <label for="3">☆</label>
    <input type="radio" name="rating" value="2" id="2" (change)="handleChange(2)">
    <label for="2">☆</label>
    <input type="radio" name="rating" value="1" id="1" (change)="handleChange(1)">
    <label for="1">☆</label>
  </div>
</div>

