<main>
    <div class="mycard">
        <h1>Wyszukaj film</h1>
        <form (keydown.enter)="$event.preventDefault()">
            <div class="wrap">
                <span>
                <input type="text" id="movieSearch" (keydown.enter)="search()" required>       
                <button class="btn btn-outline-dark btn-sm " (click)="search()" type="button">Szukaj</button>
            </span>
            </div>
            <p class="error"> {{error}} </p>
        </form>
    </div>
    <ul>
        <li *ngFor="let movie of moviesFound">
            <app-movie [movie]="movie"></app-movie>
        </li>
    </ul>
</main>
