<main>
    <div class="mycard">
        <h1>Wyszukaj film</h1>
        <form>
            <div class="wrap">
                <span>
                <input type="text" id="movieSearch" required>
                <button class="btn btn-outline-dark btn-sm " (click)="search()" type="button">Szukaj</button>
            </span>
            </div>
            <p class="error"> {{error}} </p>
        </form>
    </div>
    <ul>
        <li *ngFor="let movie of moviesFound, index as i">
          <app-movie [movie]="movie" ></app-movie>
          <app-rating [movie]="movie" [rating]="0"></app-rating>
        </li>
    </ul>
</main>
