<div class="card_comments">
  <h4 class="flex-auto text-md-left text-center text-info">Komentarze</h4>
  <form class="new_comment" >
    <div class="new_comment">
      <label for="comment_input" class="text-light">Dodaj komentarz</label>
      <textarea id="comment_input" rows="5"></textarea>
    </div>
  </form>
  <button class="btn btn-outline-light btn-sm action" (click)="comment()" type="button">Wyślij</button>

  <ul class="comments">
    <li *ngFor="let com of comments, index as i">
      <div class="comment">
          <app-comment [comment]="com"></app-comment>
      </div>
    </li>
  </ul>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item page-prev">
        <button *ngIf="this.page > 1" class="btn btn-light" (click)="getComments(page=this.page-1)"> < </button>
        <button *ngIf="this.page <= 1" class="btn btn-light" [disabled]="true" > < </button>
      </li>

      <li class="page-item page-next">
        <button *ngIf="this.page < this.pages" class="btn btn-light" (click)="getComments(page=this.page+1)"> > </button>
        <button *ngIf="this.page >= this.pages" class="btn btn-light disabled" [disabled]="true"> > </button>
      </li>

    </ul>
  </nav>
</div>
