div.stars {
    width: 270px;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: white;
    transition: all .2s;
    cursor: pointer;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked~label.star:before {
    color: #F62;
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

.mycard {
    width: 60%;
    height: 400px;
    background: black;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
    box-sizing: border-box;
    &_left {
        float: left;
        overflow: hidden;
        margin-right: 5px;
        img {
            width: auto;
            max-height: 400px;
            border-radius: 10px 0 0 10px;
        }
    }
    &_right {
        background: #000000;
        height: 400px;
        border-radius: 0 10px 10px 0;
        box-sizing: border-box;
        margin-top: 30px;
        h1 {
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            text-align: left;
            font-size: 40px;
            margin: 10px;
            box-sizing: border-box;
            height: 60px;
        }
        &_details {
            box-sizing: border-box;
            height: 50px;
            ul {
                list-style-type: none;
                margin-top: 10px;
                padding: 0;
                li {
                    display: inline;
                    color: #e3e3e3;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    padding-right: 40px;
                    cursor: pointer;
                }
            }
        }
        &_review {
            box-sizing: border-box;
            height: 260px;
            overflow-y: auto;
            p {
                color: white;
                font-size: 20px;
                letter-spacing: 1px;
                margin: 10px 0 10px 0;
                line-height: 25px;
            }
        }
    }
}

.rating {
    p {
        text-align: center;
        color: white;
        font-size: 20px;
    }
    h1 {
        text-align: center;
        color: white;
    }
}

.comments_section{
  width: 60%;
}
