<div class="rating">
    <div class="stars">
        <form>
            <input class="star star-5" id="star-5" type="radio" name="star" [checked]="rate == 5"/>
            <label class="star star-5" for="star-5" (click)="selectRate(5)" ></label>
            <input class="star star-4" id="star-4" type="radio" name="star" [checked]="rate == 4"/>
            <label class="star star-4" for="star-4" (click)="selectRate(4) "></label>
            <input class="star star-3" id="star-3" type="radio" name="star" [checked]="rate == 3"/>
            <label class="star star-3" for="star-3" (click)="selectRate(3)"  ></label>
            <input class="star star-2" id="star-2" type="radio" name="star" [checked]="rate == 2"/>
            <label class="star star-2" for="star-2" (click)="selectRate(2)"></label>
            <input class="star star-1" id="star-1" type="radio" name="star" [checked]="rate == 1"/>
            <label class="star star-1" for="star-1" (click)="selectRate(1)"></label>
        </form>
    </div>
    <p>{{rated}}</p>
</div>
