@import '../login-page/login-page.component';
.mycard {
    width: 50%;
    padding: 10px;
    input {
        width: 87%;
    }
    button {
        margin-left: 10px;
    }
}

main {
    padding-top: 20px;
    justify-content: start;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    padding-left: 0;
    .mycard {
        width: 100%;
        border: none;
    }
    li {
        margin-top: 30px;
    }
}

.with-rating {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

app-rating-stars {
    max-width: 100px;
}