/* You can add global styles to this file, and also import other style files */

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

app-main-page {
    flex: 1 1 100%;
}

app-nav-bar {
    flex: 0 1 auto;
}