@import '../variables';
h1 {
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-family: 'CustomFont';
    font-size: 4em;
}

.explanation {
    color: #1a1919ef;
    text-align: center;
    text-transform: uppercase;
    font-family: 'CustomFont';
    font-size: 3em;
}

h3 {
    color: $white;
}

.yellow {
    color: $yellow;
}

.blue {
    color: $blue-bright;
}

.white {
    color: $white;
}

.orange {
    color: orange;
}

i {
    margin: 40px 40px;
    font-size: 1em;
    color: white;
}
